
.container{
	width: 360px;
	margin: 100px auto;
	background: #f7f7f7;
	box-shadow: 0 0 25px rgba(0, 0, 0, .90)
}
body{
	background: #83a4d4;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #b6fbff, #83a4d4);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #b6fbff, #83a4d4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.fa-plus,h1 .fa-trash{
	float: right;
}
span{
	background: #e74c3c;
	height: 40px;
	margin-right: 20px;
	text-align: center;
	color: white;
	width: 0px;
	display: inline-block; 
	transition: width 300ms ease-in;
}

li:hover span{
	width: 40px;
}
h1{
	background: #2980b9;		
	color: white;
	margin: 0;
	padding: 10px 20px;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: normal;
	font-family: roboto;
}
ul{
	list-style: none;
	margin: 0;
	padding: 0;
	font-family: roboto;
}
li{
	background: #ffffff;
	color: #666666;
	line-height: 40px;
}
li:nth-child(2n){
	background: #f7f7f7;
}
input{
	font-size: 18px;
	background: #f7f7f7;
	width: 100%;
	padding: 13px 13px 13px 20px;
	box-sizing: border-box;
	color: #2980b9 ;
	border: 3px solid rgba(0, 0, 0, 0);
}
input:focus{
	background: #fff;
	border: 3px solid #2980b9;
	outline: none;
}